.planning-cell,
.topbar-cell {
    width: 244px;
}

.topbar-cell {
    border-right: 1px solid #eee;
    flex: 0 0 auto;
}

.planning-column {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.current-week {
    background-color: #edf5fd;
}

.crisis-week {
    background-color: #ffe3e3;
}

.alert-week {
    background-color: #ffe8cc;
}

.standards {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    height: 5px;
}

.weekly-standard {
    flex: 0 0 auto;
    display: flex;
    z-index: 3;
}

.daily-standard {
    flex: 1 0 auto;
}

.error {
    background-color: red;
}

.topbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 34px;
    padding-left: 100px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
}

.weeks {
    font-size: 13px;
    text-align: center;
}

.days {
    font-size: 10px;
    display: flex;
}

.day {
    flex: 1 0 auto;
    text-align: center;
}
