.planning-column {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.daily-standard {
    flex: 1 0 auto;
}

.error {
    background-color: red;
}

.weeks {
    font-size: 13px;
    text-align: center;
}

.days {
    font-size: 10px;
    display: flex;
}

.day {
    flex: 1 0 auto;
    text-align: center;
}
