.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;

  color: white;
  font-size: inherit;

  background-color: #004262;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
  .btn:hover,
  .btn:focus {
    outline: none;

    background-color: #0076af;
  }
  .btn:active {
    position: relative;
    top: 1px;
  }
