.loader {
  width: 4em;
  height: 4em;
  margin: 30px auto;

  position: relative;

  font-size: 10px;

  border: 0.5em solid #DAEBEE;
  border-left-color: #004262;
  border-radius: 50%;
  animation: load 1s infinite linear;
  transform: translateZ(0);
}
  @keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
