@import 'index.css';

@import 'component/alert.css';
@import 'component/app.css';
@import 'component/projects.css';
@import 'component/staffingTable.css';

@import 'generic/btn.css';
@import 'generic/loader.css';
