table 

Comment préparer l'atelier

ajouter une carte dans le trello Ateliers Kaizen et suivre le standard
préparer une pièce avec son coach et le coach lean et Benjamin
faire en sorte que chaque participant ait accès aux outils nécessaires pour la journée
new relic
outil de profiling de code
identifier les sujets clés à travailler pendant l'atelier, le leader doit avoir une  intuition des leviers qui vont faire décoller la perf (par exemple : le provisioning, la gestion des variables d’environnement) avant de commencer l'atelier
aller voir les pièces
détecter les gestes, les compétences qu’il faut que les devs acquièrent
avoir des pièces
imprimer les tickets trello, les pull requests
avoir accès aux logs
avoir accès au code
avoir accès au serveur
Comment se déroule l'atelier

le leader présente son kaizen et le livrable de l'atelier
indicateurs sur le board
des expérimentations faites ou lancées : on a resserré les boulons sur un ou plusieurs problèmes
l'équipe construit la performance
on se met d’accord sur le type de problème de qualité qu’on veut résoudre (bug en prod vs défaut détecté par le PO vs défaut sur les PR)
quel objectif on cherche à atteindre
comment on la mesure et on la visualise
l'équipe étudie les pièces
la première fois tous ensemble puis ensuite en deux groupes
toutes les heures chaque groupe présente au sponsor et à l'autre groupe ses apprentissages
le faire au cas par cas, plutôt que du pareto
pour les défauts : analyser les 4M (man / machine / method / material) :
qui ne savait pas faire quoi ?
est-ce qu’il était en situation de réussir ?
pourquoi la chaîne ne s’est pas arrêtée ?
pour la performance : dérouler le processus (stack trace, pile d'appels HTTP, etc...)


l'équipe alimente le suivi de la résolution de problème
l'équipe réalise les actions tout de suite ou ajoute les tickets dans le backlog
Debrief avec le sponsor
idéalement physiquement
un bon débrief c'est :
le problème attaqué
l'objectif fixé par l'équipe
les pièces analysées
les gains obtenus
les todo pour atteindre l’objectif
Comment pérenniser l'atelier

chaque jour l’équipe met à jour sa perf sur son board et communique dessus dans le daily mail
l'équipe construit un bac rouge physique et cherche les root cause (bac rouge, qrqc….)
l'équipe alimente la feuille de résolution de pb sur son board et fait apparaître les PDCA
l'équipe affiche ses standards sur son board
