.brand {
  font-family: Bungee Shade, sans-serif;
  font-size: 30px;

  margin: 0 0 20px;
}
  @media (min-width: 768px) {
    .brand {
      font-size: 40px;
    }
  }
  @media (min-width: 992px) {
    .brand {
      font-size: 50px;
    }
  }
  @media (min-width: 1200px) {
    .brand {
      font-size: 60px;
    }
  }

.trelloLink {
  position: absolute;
  right: 0;
}
  @media (max-width: 768px) {
    .trelloLink {
      display: none;
    }
  }
  @media (min-width: 768px) {
    .trelloLink {
      right: 10px;
      top: 10px;
    }
  }
  @media (min-width: 992px) {
    .trelloLink {
      right: 15px;
      top: 15px;
    }
  }
  @media (min-width: 1200px) {
    .trelloLink {
      right: 20px;
      top: 20px;
    }
  }

.trelloLink__img {
  height: 40px;
}
