/* Highlight the fifth and tenth columns */
.staffingCell--3, .staffingCell--4,
.staffingCell--8, .staffingCell--9,
.staffingHeaderCell--3, .staffingHeaderCell--4,
.staffingHeaderCell--8, .staffingHeaderCell--9 {
  border-right: 5px double;
}

.selectable:hover {
  background-color: #03a9f4;
}
.selectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.selected {
  background-color: #03a9f4;
}
